@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0b0b0b;
    color: #fff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0,0,0,0.9);
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: gold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: gold;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9') center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero h1 {
    font-size: 60px;
    color: gold;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    background: gold;
    color: black;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
}

/* PRODUCTS */
.heading {
    text-align: center;
    margin: 40px 0;
    color: gold;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding: 40px;
}

.card {
    background: #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3, .card p {
    padding-left: 15px;
}

.card button {
    margin: 15px;
    padding: 10px;
    border: none;
    background: gold;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}