@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0c0c0c;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: gold;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9') no-repeat center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-text h1 {
    font-size: 60px;
}

.btn {
    background: gold;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

/* PRODUCTS */
.heading {
    text-align: center;
    margin-top: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding: 50px;
    gap: 30px;
}

.card {
    background: #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3, .card p {
    padding-left: 15px;
}

.card button {
    margin: 15px;
    padding: 10px;
    border: none;
    background: gold;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
}